.tRow {
	display: table-row;
}
a {
	text-decoration: none;
	color: #586D1F;
}
a:hover {
}
body {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-size: 0.75rem;
	background-color: #F2F2F2;
}
#wrapper {
	width: 100%;
	position: relative;
	min-height: 100%;
}
#infobar {
	display: block;
	font-size: 0.8rem;
	color: #BBB;
	background-color: #2e2e2e;
	padding: 0px 6px;
}
.infobar {
	display: block;
	width: 85%;
	position: relative;
	margin: auto;
	height: 32px;
}
.infobar img {
	vertical-align: middle;
}
.info-l {
	line-height: 32px;
	clear: left;
	float: left;
	height: 32px;
}
.info-r {
	line-height: 32px;
	clear: right;
	float: right;
	height: 32px;
}
#header {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e4e4e4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e4e4e4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e4e4e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #e4e4e4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #e4e4e4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #e4e4e4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4', GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
	border-bottom: solid 1PX #d9d9d9;
	width: 100%;
	clip: rect(auto,auto,auto,auto);
}
.header {
	margin: auto;
	position: relative;
	height: 128px;
}
#logo {
	display: block;
	height: 111px;
	position: relative;
	left: 0px;
	top: 0px;
}
.s_network {
	float: right;
	position: absolute;
	top: -9px;
	right: 0px;
}
.s_network ul {
	margin: 0px;
	padding: 0px;
}
.s_network li {
	display: inline-block;
	position: relative;
	width: 50px;
}
.s_network a {
	height: 50px;
	position: absolute;
	top: 0px;
	-webkit-transition: 0.25;
	-moz-transition: 0.25;
	transition: 0.25;
	display: block;
	width: 50px;
}
.s_network a:hover {
	top: 3px;
	-webkit-transition: 0.25;
	-moz-transition: 0.25;
	transition: 0.25;
}
.mySearch {
	position: absolute;
	top: 6px;
	right: 163px;
	width: 373px;
}
.mySearch .mySearch-t {
	font-size: 18px;
	font-size: 1.2rem;
	height: 37px;
	width: 304px;
	border: 1px solid #cbd9b3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	line-height: 37px;
	position: absolute;
	left: 0px;
	top: 0px;
	color: #BBB;
	background-color: #FFF;
	text-indent: 7px;
	padding: 0px;
}
.mySearch .mySearch-t:focus {
	color: #111;
}
.mySearch .mySearch-b {
	height: 37px;
	background-color: #90af3a;
	border-bottom: solid 1px #4c5f1b;
	border-top: none;
	border-left: none;
	border-right: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: absolute;
	top: 0px;
	width: 60px;
	right: 0px;
	text-align: center;
	background-image: url(images/search.png);
	background-position: center center;
	background-repeat: no-repeat;
	padding: 0px;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	transition: 0.1s;
}
.mySearch .mySearch-b:hover {
	background-color: #6C852C;
	border-bottom: solid 1px #41501B;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	transition: 0.1s;
}
nav {
	display: none;
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 8px;
}
menu {
	position: absolute;
	right: 0px;
	bottom: 18px;
}
menu ul {
}
menu li {
	display: inline-block;
	height: 40px;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 2px;
	position: relative;
}
menu li a {
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	transition: 0.1s;
	text-align: center;
	display: block;
	height: 39px;
	font-size: 0.9rem;
	font-weight: bold;
	color: #FFF;
	background-color: #555;
	border-bottom: solid 1px #000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	line-height: 39px;
	text-decoration: none;
	padding: 0px 16px;
}
menu li a:hover {
	background-color: #90af3a;
	border-bottom: solid 1px #4c5f1b;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 1px 23px 0 rgba(0, 0, 0, 0.6);
	-o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6);
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	transition: 0.1s;
	position: relative;
	top: 1px;
}
nav select {
	border: 1px solid #cbd9b3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 1.1rem;
	display: block;
	margin: auto;
	padding: 5px;
	width: 80%;
	color: #BBB;
}
nav select:focus {
	color: #222;
}
.bMenu ul {
	display: block;
}
.bMenu ul li {
	display: block;
	padding: 2px 0px;
}
.bMenu ul li a {
	font-size: 0.7rem;
	line-height: 24px;
	text-decoration: none;
	background-image: url(images/url.png);
	background-repeat: no-repeat;
	background-position: 4px center;
	display: block;
	color: #222;
	font-weight: bold;
	text-indent: 25px;
	height: 24px;
	background-color: #FFF;
	border: 1px solid #cbd9b3;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	transition: 0.1s;
}
.bMenu ul li a:hover {
	background-color: #EEE;
	text-indent: 28px;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	transition: 0.1s;
}
#content {
	padding-bottom: 80px;
	margin: auto;
	position: relative;
	display: table;
}
#mCol, #lCol, #rCol {
	display: table-cell;
}
#mCol {
	padding: 10px 0px;
}
#lCol {
	width: 190px;
	padding: 10px;
}
#rCol {
	width: 190px;
	padding: 10px;
}
article {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #f1f1f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1', GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: block;
	border: 1px solid #d9d9d9;
	padding: 6px;
	margin-bottom: 10px;
}
.myCaption {
	font-size: 1rem;
	line-height: 30px;
	background: #f1f1f1;
	font-weight: bold;
	color: #90AF3A;
	text-align: left;
	text-indent: 10px;
	display: block;
	height: 30px;
	border-top: solid 1px #E8E8E8;
}
.myContent {
	padding: 5px;
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top, #f1f1f1 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1f1f1 0%, #ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1f1f1 0%, #ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f1f1f1 0%, #ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
}
#footer {
	-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
	border-top: solid 1PX #d9d9d9;
	display: block;
	height: 70px;
	width: 100%;
	position: absolute;
	bottom: 0px;
}
footer {
	margin: auto;
	padding: 10px 0px;
}
/* -- Table Styles -- */
.ttable_headouter {
	border-collapse: collapse;
}
.ttable_headinner {
	border-collapse: collapse;
	border:1px solid #c5d5dd;
}
.ttable_head {
	font-family: Verdana;
	color: #FFF;
	line-height: 20px;
	border: 1px solid #c5d5dd;
	background-color: #90af3a;
	text-shadow: 0 1px 1px #000000;
	font-weight: bold;
}
.ttable_col1 {
	font-family: 'Verdana';
	border:1px solid #c5d5dd;
	font-size: 8pt;
	background-color: #ECECEC;
}
.ttable_col2 {
	font-family: 'Verdana';
	border:1px solid #c5d5dd;
	font-size: 8pt;
	background-color: #F7F7F7;
}
.ttable_colx {
	font-family: 'Verdana';
	border:1px solid #c5d5dd;
	font-size: 8pt;
	background-color: #F7F7F7;
}
/* -- Other Table Styles -- */
.table_table {
	border: #c5d5dd;
	border-style: border-style;
	border-width: 1px;
	border-collapse:collapse;
}
.table_head {
	font-family: Verdana;
	color: #FFF;
	line-height: 20px;
	border: 1px solid #c5d5dd;
	-moz-box-shadow: inset 0 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 0 1px#fff;
	box-shadow: inset 0 0 0 1px #fff;
	background-color: #90af3a;
	text-shadow: 0 1px 1px #000000;
}
.table_col1 {
	font-family: 'Verdana';
	border:1px solid #c5d5dd;
	font-size: 8pt;
	background-color: #ECECEC;
}
.table_col2 {
	font-family: 'Verdana';
	border:1px solid #c5d5dd;
	font-size: 8pt;
	background-color: #F7F7F7;
}
/* -- Download Styles -- */
#downloadbox {
	border: 1px solid #6b808d;
	background-color: #90af3a;
	text-shadow: 0 1px 1px #000000;
	padding: 3px;
	-moz-box-shadow: inset 0 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 0 1px#fff;
	box-shadow: inset 0 0 0 1px #fff;
	text-align: left;
	color: #BBB;
	font-size: 8pt;
	line-height: 10px;
}
#downloadbox td {
	padding: 0px 10px;
}
#downloadbox a {
	color: #FFF;
}
.download {
	border: 2px solid #6b808d;
	padding: 10px;
}
.download legend {
	color: #FFF;
	text-shadow: 0px 1px 1px #222;
	margin: 0px;
	padding-top: 3px;
	padding-right: 13px;
	padding-bottom: 3px;
	padding-left: 13px;
	background: rgb(207,207,207);
	background: -moz-linear-gradient(top, rgba(207, 207, 207, 1) 0%, rgba(165, 165, 165, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(207, 207, 207, 1)), color-stop(100%, rgba(165, 165, 165, 1)));
	background: -webkit-linear-gradient(top, rgba(207, 207, 207, 1) 0%, rgba(165, 165, 165, 1) 100%);
	background: -o-linear-gradient(top, rgba(207, 207, 207, 1) 0%, rgba(165, 165, 165, 1) 100%);
	background: -ms-linear-gradient(top, rgba(207, 207, 207, 1) 0%, rgba(165, 165, 165, 1) 100%);
	background: linear-gradient(top, rgba(207, 207, 207, 1) 0%, rgba(165, 165, 165, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#a5a5a5', GradientType=0 );
	-moz-box-shadow: 0px 0px 4px #333;
	-webkit-box-shadow: 0px 0px 4px #333;
	box-shadow: 0px 0px 4px #333;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #FFF;
}
.nfo {
	font-family: terminal;
	font-size: 10px;
}
/* -- ShoutBox Styles -- */
.shoutbox_body {
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top, #f1f1f1 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1f1f1 0%, #ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1f1f1 0%, #ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f1f1f1 0%, #ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
	font-family: verdana;
	color: black;
	float: middle;
}
.shoutbox_contain {
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top, #f1f1f1 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1f1f1 0%, #ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1f1f1 0%, #ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f1f1f1 0%, #ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
	border: 0;
	height: 150;
	width: 100%;
	overflow: auto;
	align: middle;
}
.shoutbox_history {
	border: 0;
	height: 100%;
	width: 100%;
	align: middle;
}
.shoutbox_messageboxback {
	background-color: transparent;
}
.shoutbox_noalt {
	background-color: #ECECEC;
}
.shoutbox_alt {
	background-color: #F7F7F7;
}
.shoutbox_msgbox {
	width: 99%;
	background-color: #FFF;
	border: 1px solid #cbd9b3;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.shoutbox_shoutbtn {
	background-color: #FFF;
	border: 1px solid #cbd9b3;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
/* -- Error Styles -- */
.shoutbox_error {
	color: red;
}
.error {
	color: #FF0000;
}
small, .small {
	font-size: 10px;
}
/* -- Forum Styles -- */
.f-header {
	border: 1px solid #879AA5;
	font-size: 11px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: block;
	color: #bbb;
	background-color: #90af3a;
	text-shadow: 0 1px 1px #000000;
}
.f-logo {
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
	-moz-box-shadow: inset 0 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 0 1px#fff;
	box-shadow: inset 0 0 0 1px #fff;
}
.f-logo td {
	height: 35px;
	padding: 6px;
}
.f-logo td a {
	font-weight: bold;
	color: #DDD;
	text-shadow: 0px 1px 2px #000;
	text-decoration: none;
}
.f-logo td a:hover {
	color: #FFF;
	text-shadow: 0px 1px 1px #000;
}
.f-logo td img {
	vertical-align: middle;
}
.f-location {
	display: block;
	height: 28px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #949494;
	line-height: 28px;
	text-align: left;
	text-indent: 10px;
	margin-bottom: 8px;
	color: #333;
	-moz-box-shadow: inset 0 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 0 1px#fff;
	box-shadow: inset 0 0 0 1px #fff;
}
.f-location a {
	text-shadow: none;
	color: #444;
	text-shadow: 1px 1px 0px #CCC;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.f-title, .p-title, .f-cat td, .f-cat, .f-row td, .p-foot {
	border: 1px solid #879AA5;
}
.f-row td .f-title th, .p-title th, .f-title, .p-title {
	padding-right: 4px;
	padding-left: 4px;
}
.p-foot img {
	vertical-align: middle;
}
.f-title {
	color: #FFF;
	padding: 3px;
	font-weight: normal;
	height: 24px;
	line-height: 24px;
	background-color: #90af3a;
	text-shadow: 0 1px 1px #000000;
}
.f-title a {
	text-shadow: 0px 1px 1px #000;
	color: #DDD;
	text-decoration: none;
}
.p-title {
	color: #FFF;
	padding: 3px;
	font-weight: bold;
	height: 26px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #90af3a;
	text-shadow: 0 1px 1px #000000;
}
.p-title a {
}
.p-foot {
	color: #333;
	font-size: 10px;
	font-weight: normal;
	border-collapse: collapse;
	background-color: #eee;
}
.p-foot td {
	padding: 3px;
}
.f-reply {
	color: #333;
	padding: 3px;
	font-size: 10px;
	font-weight: normal;
	border: 1px solid #777;
}
.f-cat {
	padding: 0px;
	margin: 0px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
	background: -webkit-linear-gradient(top, #ffffff 0%, #cccccc 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #cccccc 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #cccccc 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0 );
	height: 27px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #000;
	line-height: 27px;
}
.f-row {
	background-color: #FFF;
}
.f-row TD, .t-row TD {
	padding: 4px;
}
.f-row:hover {
	background-color: #E7E7E7;
	background-image: none;
	background-repeat: no-repeat;
}
.alt2 {
	background-color: #E7E7E7;
}
.f-img {
	padding-right: 5px;
	padding-left: 5px;
}
.small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.comment-details, .bb-btn {
	background-color: #eee;
	border: 1px solid #879AA5;
	padding: 4px;
}
.comment, .bb-comment {
	background-color: #FFF;
	border: 1px solid #879AA5;
	padding: 4px;
}
.comment td {
	padding: 10px;
}
input, select, textarea {
	background-color: #FFF;
	border: 1px solid #cbd9b3;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 2px;
	padding: 3px;
}
/* -- Responsive CSS -- */

@media screen and (max-width: 400px) {
#wrapper {
 min-width: 380px;
}
#myShout {
display: none;
}
.header, #content, footer {
 width: 100%;
}
.info-r {
display: none;
}
#logo {
 -webkit-transition: 1s;
 -moz-transition: 1s;
 transition: 1s;
 width: 90%;
 margin: auto;
}
menu {
 display: none;
}
nav {
display: block;
}
.mySearch {
 display: none;
}
.s_network {
 display: none;
}
#mCol {
 -webkit-transition: 1s;
 -moz-transition: 1s;
 transition: 1s;
 display: table-cell;
 padding: 10px 12px;
}
#lCol, #rCol {
 -webkit-transition: 1s;
 -moz-transition: 1s;
 transition: 1s;
 display: none;
}
.ttable_head th:nth-child(1) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.ttable_head th:nth-child(4) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.ttable_head th:nth-child(5) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.ttable_head th:nth-child(6) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.ttable_head th:nth-child(7) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.ttable_head th:nth-child(8) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.ttable_head th:nth-child(9) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.t-row td:nth-child(1) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.t-row td:nth-child(4) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.t-row td:nth-child(5) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.t-row td:nth-child(6) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.t-row td:nth-child(7) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.t-row td:nth-child(8) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.t-row td:nth-child(9) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
}
@media screen and (min-width: 401px) and (max-width: 799px) {
#myShout {
display: none;
}
.header, #content, footer {
 width: 100%;
}
.info-r {
display: none;
}
#logo {
 -webkit-transition: 1s;
 -moz-transition: 1s;
 transition: 1s;
 width: 400px;
}
.header {
 height: 130px;
}
menu {
bottom: 8px;
}
menu li {
 height: 23px;
}
menu li a {
 height: 22px;
 font-size: 0.8rem;
 line-height: 22px;
 padding: 0px 7px;
}
.mySearch {
 display: none;
}
.s_network li {
 width: 35px;
}
.s_network a {
 height: 35px;
 width: 35px;
}
#mCol {
 -webkit-transition: 1s;
 -moz-transition: 1s;
 transition: 1s;
 display: table-cell;
 padding: 10px 12px;
}
#lCol, #rCol {
 -webkit-transition: 1s;
 -moz-transition: 1s;
 transition: 1s;
 display: none;
}
.ttable_head th:nth-child(1) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.ttable_head th:nth-child(4) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.ttable_head th:nth-child(5) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.ttable_head th:nth-child(9) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.t-row td:nth-child(1) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.t-row td:nth-child(4) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.t-row td:nth-child(5) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
.t-row td:nth-child(9) { display:none; -webkit-transition:1s; -moz-transition:1s; transition:1s; }
}
@media screen and (min-width: 800px) and (max-width: 1024px) {
.header, .infobar, #content, footer {
 -webkit-transition: 1s;
 -moz-transition: 1s;
 transition: 1s;
 width: 100%;
}
#logo {
 -webkit-transition: 1s;
 -moz-transition: 1s;
 transition: 1s;
 width: 380px;
}
menu li {
 height: 31px;
}
menu li a {
 height: 30px;
 font-size: 0.8rem;
 line-height: 30px;
 padding: 0px 12px;
}
.mySearch {
 position: absolute;
 top: 6px;
 right: 133px;
 width: 280px;
}
.mySearch .mySearch-t {
 font-size: 16px;
 font-size: 1rem;
 height: 30px;
 width: 234px;
 line-height: 30px;
}
.mySearch .mySearch-b {
 height: 30px;
 width: 40px;
 right: 0px;
}
.s_network li {
 width: 40px;
}
.s_network a {
 height: 40px;
 width: 40px;
}
#mCol {
 -webkit-transition: 1s;
 -moz-transition: 1s;
 transition: 1s;
 display: table-cell;
 padding: 10px 12px;;
}
#lCol, #rCol {
 -webkit-transition: 1s;
 -moz-transition: 1s;
 transition: 1s;
 display: none;
}
}
@media screen and (min-width: 1025px) and (max-width: 1249px) {
.header, .infobar, #content, footer {
 -webkit-transition: 1s;
 -moz-transition: 1s;
 transition: 1s;
 width: 90%;
}
#logo {
 -webkit-transition: 1s;
 -moz-transition: 1s;
 transition: 1s;
 width: 420px;
}
menu li {
 height: 35px;
}
menu li a {
 height: 34px;
 font-size: 0.8rem;
 line-height: 34px;
 padding: 0px 12px;
}
.mySearch {
 position: absolute;
 top: 6px;
 right: 133px;
 width: 280px;
}
.mySearch .mySearch-t {
 font-size: 16px;
 font-size: 1rem;
 height: 34px;
 width: 234px;
 line-height: 30px;
}
.mySearch .mySearch-b {
 height: 34px;
 width: 45px;
 right: 0px;
}
.s_network li {
 width: 40px;
}
.s_network a {
 height: 40px;
 width: 40px;
}
#rCol {
 -webkit-transition: 1s;
 -moz-transition: 1s;
 transition: 1s;
 display: none;
}
#lCol, mCol {
 -webkit-transition: 1s;
 -moz-transition: 1s;
 transition: 1s;
 display: table-cell;
}
}
@media screen and (min-width: 1250px) {
.header, #content, footer {
 -webkit-transition: 1s;
 -moz-transition: 1s;
 transition: 1s;
 width: 85%;
}
#logo {
 -webkit-transition: 1s;
 -moz-transition: 1s;
 transition: 1s;
 width: 476px;
}
#mCol, #lCol, #rCol {
 display: table-cell;
 -webkit-transition: 1s;
 -moz-transition: 1s;
 transition: 1s;
}
}
